*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
   font-family: "Noto Serif", serif;
}

/*HEADER*/
header{
    background-color: #004e89ff;
    display: flex;
    justify-content: space-between;
}

header > nav > ul > li{
    list-style: none;
    padding-top: 10px;
}
header > nav > ul > li:hover{
    background-color: #fdfcdcff;
}
header > nav > ul > li:hover a{
    color: #1f271bff;
}
header > nav > ul > li:hover i{
    color: #1f271bff;
}

header nav > ul a{
    text-decoration: none;
    padding: 12px 24px;
    display: block;
    color: #fdfcdcff;
    font-size: 1.1rem;
    text-transform: uppercase; 
}

header nav > ul a:hover{
    background-color: #fdfcdcff;
}

header nav ul{
    display: flex;
}

.nav__more{
    display: flex;
    position: relative;
    align-items: center;
}
.nav__more:hover .nav__item{
    opacity: 1;
}

.nav__more > i{
    color: #fdfcdcff;
    padding: 24px;
    padding-top: 9px;
}

.nav__more .nav__item{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fdfcdcff;
    width: 150%;
    opacity: 0;
}

.nav__more > a{
    padding-right: 5px;
    padding-top: 7px;
}

.nav__more .nav__item a{
    color: #1f271bff;
    text-transform: capitalize;
    display: block;
    padding: 10px;
}

/*HOME*/
#Home {
    align-items: center;
    padding: 40px 10%;
    gap: 30px;
    background-image: url(https://i.pinimg.com/736x/fe/d8/b2/fed8b2091b73ad53ee45494826dc9fd1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fdfcdcff;
}

#Home h1{
    color: #fdfcdcff;
    text-align: center;
    padding-bottom: 10px;
}

#Home .text h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

#Home .text p {
    font-size: 18px;
    line-height: 1.6;
}

#values {
    background: #004e89ff;
    padding: 50px 10%;
}

#values h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #fdfcdcff;
}

.value-box {
    background: #fdfcdcff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.value-box h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

/*Carousel*/
.carousel-item img{
    height: 650px;
}

/*Movies*/
.banner {
background: url('https://i.pinimg.com/736x/29/95/3c/29953c3af21b34717d44848bd6e9c6d8.jpg') center/cover no-repeat;
padding: 40px 20px;
text-align: center;
color: #fdfcdcff;
font-size: 1.6rem;
font-weight: bold;
}

#movies{
    background-color: #004e89ff;
}

.movies {
padding: 40px;
text-align: center;
}

.movies h2{
padding-bottom: 20px;
color: #fdfcdcff;
}

.movie-list {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.movie-card {
width: 260px;
background: white;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
transition: 0.3s;
}

.movie-card:hover {
transform: scale(1.05);
}

.movie-card img {
width: 100%;
height: 350px;
object-fit: cover;
}

.movie-card h3 {
margin: 10px 0;
}

.movie-card p {
padding: 0 10px 20px;
font-size: 0.9rem;
}

.button {
    display: block;
    margin: 0 auto 20px auto;
    background-color: #1f271bff;
    color: #fdfcdcff;
    text-decoration: none;
}

.button:hover{
    text-decoration: none;
    background-color: #a9cef4ff;
    color: #1f271bff;
}

/*footer*/
footer{
    color: #1f271bff;
    text-align: center;
    margin-bottom: 5px;
}
footer .footer_icon{
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
footer p a{
    color: #1f271bff
}